*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.darkbluebg{
    background-color: #1F2937;
    color: #F9FAF8;
}
header{
    font-size: 18px;
    /* color:E5E7EB; */
}
.nav{
    display:flex;
    justify-content: space-between;
    padding:2rem 8rem 0rem 8rem;
}
.links{
    display:flex;
    gap:1rem;
}
.logo{
    font-size: 24px;
}
/* Hero Section */
.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10rem;
    font-size:18px;
}
.info{
    font-size:48px;
    font-weight: 800;
}
.under-btn{
    padding-bottom:1rem;
}
.hero-btn{
    background-color: #3882f6;
    border:none;
    border-radius:3px;
    padding:.3rem 1.5rem .3rem 1.5rem;
    color:inherit;
}
.hero-img{
    min-width: 400px;
    max-height:200px;
    height: 200px;;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
}
.padding{
    padding:8rem;
}
/* random block */
.misc{
    text-align: center;
    margin:0;
    padding-top:1rem;
    padding-left:12rem;
    padding-right: 12rem;
    font-weight: 800;
}
.random-container{
    padding-top:2rem;
    display: flex;
    gap:3rem;
}
.box-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}
.under-img{
    font-size:18px;
    font-weight: 300;
}
.box-img{
    width:150px;
    height:150px;
    border:2px solid #3882f6;
    border-radius: 5px;
}
/* Blockquote */
.quote{
    background-color: #E5E7EB;
    font-style:italic;
    font-size: 36px;
    color:#1F2937;
}
/* callto action */
.action-c{
    display:flex;
    justify-content: space-between;
    padding:4rem;
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
}
.action-btn{
    color:inherit;
    background-color:inherit;
    border-radius: 5px;
    padding-left:2rem;
    padding-right:2rem;
    margin-top:.25rem;
    margin-bottom:.25rem;
}
.white{
    border:1px solid #F9FAF8;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
}